Repository hmcts/em-icp-api, pull requests merged in 2022-12, with the labels that each got.

#364 Added in primary string to vault
  infrastructure/main.tf
Labels: ns:em, prd:em, rel:em-icp-pr-364

#365 Added in primary connection string
  charts/em-icp/Chart.yaml
  charts/em-icp/values.yaml
Labels: ns:em, prd:em, rel:em-icp-pr-365

#378 Em 4651 azure web pub hooks api
  Jenkinsfile_CNP
  api/em-web-pub-event-handler-options.ts
  api/model/actions.ts
  api/model/interfaces.ts
  api/routes/sessions.ts
  app.ts
  nodemon.json
  package.json
  server.ts
  socket.ts
  sonar-project.properties
  test/functional/socket.test.ts
  test/unit/routes/sessions.test.ts
  tsconfig.json
  yarn-audit-known-issues
  yarn.lock
Labels: ns:em, prd:em, rel:em-icp-pr-378

#387 Updated IngressHost URL
  charts/em-icp/Chart.yaml
  charts/em-icp/values.yaml
Labels: ns:em, prd:em, rel:em-icp-pr-387
